@{
    ViewData["Title"] = "Verify OTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:350px; margin:50px auto; background:white; padding:25px; border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.1);">
    <h3 style="text-align:center; color:#003366; margin-bottom:20px;">Verify OTP</h3>

    <form asp-action="VerifyOtp" method="post">
        <input type="hidden" name="Email" value="@ViewBag.Email" />

        <label>Enter OTP</label>
        <input type="text" name="Otp" maxlength="6" class="form-control" required style="margin-bottom:15px;" />

        <button type="submit" class="btn btn-success w-100">Verify</button>
    </form>
</div>